# Файлы конфигурации для venv
venv/
.env

# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

.idea/
сы
# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
*.py,cover
.cache/

__pycache__/

# Исключить файлы с расширением .pyc
*.pyc